.SearchResult {
  width: 50%;
  background-color: rgb(75, 30, 105, 0.9);
  height: 90vh;
  padding: 0 0.88rem 0.88rem 0.88rem;
  overflow: auto;
  border-radius: 15px;
  box-shadow: 10px 10px 10px black;
  position: relative;
}

::-webkit-scrollbar {
  width: 0%;
  background: transparent;
}

.Results {
  position: sticky;
  top: 0.0001px;
  background-color: rgb(75, 30, 105);
  font-size: 1.4em;
  padding: 10px 10px 10px 0px;
  margin-bottom: 10px;
  z-index: 1;
  width: 110%;
  border-bottom: white solid 1px;
}

@media only screen and (max-width: 1020px) {
  .SearchResult {
    width: 90%;
    margin-bottom: 2rem;
  }
}
